body {
    margin: 0;

font-family: 'Roboto', sans-serif;
}

nav {
    padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
width: 100%;
height: 81vh;
}

.popup {
  cursor: pointer;
}

a {
  cursor: pointer;
  color: white
}

.mr {
  margin-right: 20px;
}

.swiper-container {
  width: 500px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}